.venv
.idea
deprecated/testdaten/all_shapes/*.dbf
deprecated/testdaten/all_shapes/*.prj
deprecated/testdaten/all_shapes/*.shp
deprecated/testdaten/all_shapes/*.shx
deprecated/testdaten/all_shapes/*.cpg
deprecated/testdaten/rvr_hausumringe/*.cpg
deprecated/testdaten/rvr_hausumringe/*.dbf
deprecated/testdaten/rvr_hausumringe/*.prj
deprecated/testdaten/rvr_hausumringe/*.shp
deprecated/testdaten/rvr_hausumringe/*.shx
deprecated/testdaten/tasks_with_score/*.csv
deprecated/testdaten/tasks_dachumbau/*.csv
deprecated/testdaten/testpart/*.csv
deprecated/testdaten/tasks_for_labelstudio/*.csv
tmp/tasks/*.csv
tmp/scores/*.csv
/data/input/all_shapes/*
!/data/input/all_shapes/.gitkeep
*.duckdb
*.duckdb.wal
*.png
/data/input/trained_models/*.pth
/data/image_cache
!/data/image_cache/.gitkeep
*/__pycache__/*
